[data-menu="button"] {
  display: none;
  background-color: #222;
  border: 1.5px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin: 10px;
  position: relative;
  z-index: 300;
  transition: all 0.2s;
}

[data-menu="button"]:focus {
  outline: none;
}

[data-menu="button"].active {
  border: 1.5px solid white;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 700px) {
  .js [data-menu="button"] {
    display: flex;
    align-items: center;
  }

  .js [data-menu="button"].active::before {
    transform: rotate(-90deg);
  }

  .js [data-menu="button"]::before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 12px;
    background-color: #fff;
    box-shadow: 0 4px #fff, 0 -4px #fff;
    margin-right: 4px;
    transition: transform 0.3s;
  }

  .js [data-menu="list"] {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    background-color: #fb5;
    width: 160px;
    z-index: 200;
    padding: 60px 0 20px 0;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.3s;
  }

  .js [data-menu="list"].active {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }

  .js .dropdown-menu {
    position: static;
    border: none;
  }
}
